[submodule "packages/team-upgrades"]
	path   = packages/team-upgrades
	url    = https://github.com/EvilCheetah/repo.mods.git
	branch = mods.team-upgrades
[submodule "packages/scaling-prices"]
	path   = packages/scaling-prices
	url    = https://github.com/EvilCheetah/repo.mods.git
	branch = mods.scaling-prices
[submodule "packages/team-heals"]
	path   = packages/team-heals
	url    = https://github.com/EvilCheetah/repo.mods.git
	branch = mods.team-heals
